.pio
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
PitotCalibration/CSV/

# Android
.gradle/
.idea/
local.properties
**/build/
AndroidTelemetry/app/release/
.vscode/c_cpp_properties.json
.vscode/launch.json
